# output files
*.cereal
*.json
# OSX
*.DS_Store
*.nosync
# cmake
cmake-build*
CMakeLists.txt.user
# IntelliJ (i think)
.idea
# build
build
debug
thirdparty/build-*
# data
data/*
# ignore tex and org files
*.tex
*.org
*~
*~
*#
*.aux
*.bbl
*.blg
*.out
*.log
*.png
*_minted*
